<div id="welcome-screen">
	<h2>LabProject</h2>
	<div id="welcome-greeting">Welcome <span data-bind="text: full_name"></span></div>
	
	<div id="welcome-menu">
		<ul>
			<li><a href="#" data-bind="click: new_lab">New Lab</a></li>
			<li><a href="#" data-bind="click: open_lab">Open Lab</a></li>
			<li><a href="#" data-bind="click: settings">Account Settings</a></li>
			<li><a href="#" data-bind="click: logout">Logout</a></li>
		</ul>
	</div>

	<div id="column-right">
		<div id="recent-labs-list" class="section">
			<h3>Recent Labs</h3>
			<ul>
				<li>No Saved Labs</li>
			</ul>
		</div>
		
		<div id="invites-list" class="section">
			<h3>Invites</h3>
			<ul>
				<li>No Invites</li>
			</ul>
		</div>
		
	</div>
	
</div>	
	
